acres==0.5.0
aiofiles==24.1.0
altair==5.3.0
annotated-types==0.7.0
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.9.1
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.9.0
blis==1.3.0
cachetools==5.3.3
cart==1.2.3
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
cloudpathlib==0.21.1
colorama==0.4.6
comm==0.2.1
confection==0.1.5
configobj==5.0.9
configparser==7.2.0
contourpy==1.0.7
cycler==0.11.0
cymem==2.0.11
dacite==1.8.1
data==0.4
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
Django==5.2.6
docx==0.2.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
etelemetry==0.3.1
executing==2.0.1
fastapi==0.115.12
fastjsonschema==2.19.1
filelock==3.18.0
fitz==0.0.1.dev2
Flask==3.1.2
fonttools==4.39.4
fqdn==1.5.1
frontend==0.0.3
fsspec==2025.9.0
funcsigs==1.0.2
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
google-play-scraper==1.2.7
graphviz==0.21
h11==0.14.0
htmlmin==0.1.12
httpcore==1.0.4
httplib2==0.22.0
httpx==0.27.0
idna==3.6
ImageHash==4.3.1
imageio==2.37.0
importlib_resources==6.5.2
iniconfig==2.1.0
ipykernel==6.29.3
ipython==8.22.2
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
jiter==0.10.0
joblib==1.4.2
json5==0.9.20
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.3
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.13.0
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
jupyterlab_widgets==3.0.10
kiwisolver==1.4.4
langchain-core==0.3.66
langchain-perplexity==0.1.1
langcodes==3.5.0
langdetect==1.0.9
langsmith==0.4.3
language_data==1.3.0
latex==0.7.0
lazy_loader==0.4
llvmlite==0.42.0
looseversion==1.3.0
lxml==5.2.2
marisa-trie==1.2.1
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-venn==1.1.2
mdurl==0.1.2
missingno==0.5.2
mistune==3.0.2
mlxtend==0.23.1
mpmath==1.3.0
multimethod==1.11.2
murmurhash==1.0.13
nbclient==0.9.0
nbconvert==7.16.2
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.3
nibabel==5.3.2
nipype==1.10.0
nltk==3.9.1
node==1.2.2
notebook==7.1.1
notebook_shim==0.2.4
NRCLex==3.0.0
numba==0.59.1
numpy==1.26.4
odict==1.9.0
openai==1.92.3
opencv-python==4.11.0.86
orjson==3.10.18
overrides==7.7.0
packaging==24.2
pandas==2.0.2
pandas-datareader==0.10.0
pandas-profiling==3.2.0
pandocfilters==1.5.1
parso==0.8.3
pathlib==1.0.1
patsy==0.5.6
phik==0.12.4
phonenumbers==9.0.7
pillow==11.3.0
pillow_heif==1.1.0
platformdirs==4.2.0
plotly==5.22.0
pluggy==1.6.0
plumber==1.7
plyer==2.1.0
preshed==3.0.10
prometheus_client==0.20.0
prompt-toolkit==3.0.43
prov==2.0.2
psutil==5.9.8
pure-eval==0.2.2
puremagic==1.29
pyarrow==16.1.0
pycparser==2.21
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
pydot==4.0.0
Pygments==2.17.2
PyMuPDF==1.26.1
pyparsing==3.0.9
pypdf==4.1.0
PyPDF2==3.0.1
pypng==0.20220715.0
pytest==8.4.0
python-dateutil==2.8.2
python-docx==1.1.2
python-json-logger==2.0.7
python-multipart==0.0.20
pytz==2023.3
PyWavelets==1.6.0
pywin32==306
pywinpty==2.0.13
pyxnat==1.6.3
PyYAML==6.0.1
pyzmq==25.1.2
qrcode==7.4.2
qtconsole==5.5.1
QtPy==2.4.1
rdflib==7.1.4
referencing==0.33.0
regex==2024.7.24
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
sanitizer==1.0.0
scikit-image==0.25.2
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
Send2Trash==1.8.2
shellingham==1.5.4
shutilwhich==1.1.0
simplejson==3.20.1
six==1.16.0
smart-open==7.1.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.3
srsly==2.5.1
stack-data==0.6.3
starlette==0.46.2
statsmodels==0.14.2
streamlit==1.35.0
sympy==1.14.0
tangled-up-in-unicode==0.2.0
tempdir==0.7.1
tenacity==8.3.0
terminado==0.18.0
textblob==0.19.0
thinc==8.3.6
threadpoolctl==3.4.0
tifffile==2025.9.9
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.1
torch==2.8.0
torchvision==0.23.0
tornado==6.4
tqdm==4.66.4
traitlets==5.14.1
traits==7.0.2
typeguard==4.2.1
typer==0.16.0
types-python-dateutil==2.8.19.20240106
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2023.3
uri-template==1.3.0
urllib3==2.2.1
uvicorn==0.34.3
visions==0.7.6
wasabi==1.1.3
watchdog==4.0.1
wcwidth==0.2.13
weasel==0.4.1
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.1.3
widgetsnbextension==4.0.10
wordcloud==1.9.3
wrapt==1.17.2
ydata-profiling==4.8.3
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.1
zope.event==5.0
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.1
zope.proxy==6.1
zstandard==0.23.0
