
{% extends "base.html" %}
{% block content %}  
  <header>
    <h1>Mathematics</h1>
  </header>

  <main class="sections">
    <h2>Select a Subsection</h2>
    <div class="sections-buttons">
      <a href="/mathematics/Class-9" class="btn-section sec1">Class-9</a>
      <a href="/mathematics/Class-10" class="btn-section sec2">Class-10</a>
      <a href="/mathematics/Class-11" class="btn-section sec3">Class-11</a>
      <a href="/mathematics/Class-12" class="btn-section sec4">Class-12 </a>
      <a href="/mathematics/B.sc" class="btn-section sec5">B.sc</a>
      <a href="/mathematics/IIT-JAM" class="btn-section sec6">IIT-JAM</a>
      <a href="/mathematics/GATE" class="btn-section sec7">GATE</a>
      <a href="/mathematics/Maths_for_data_science" class="btn-section sec8">Maths for data science</a>
      <a href="/mathematics/IIT-JEE" class="btn-section sec9">IIT-JEE</a>
      <a href="/mathematics/Higher_Studies" class="btn-section sec10">Higher Studies</a>
    </div>
  </main>
{% endblock %}  
